h3 {
  margin: 10px 0;
}
.ant-card-head {
  border-bottom: 1px solid #a0a0a0;
}
.component-projects-menu {
  // background-color: #fff;
  // border-radius: 6px;
  // padding: 5px;
}


.extra-btn {
  margin: 2px;
  padding: 3px;
  color: #666;
  font-size: 14px;
  
  &:hover {
    color: #108ee9;
  }
}

.component-project-docs {
  .component-api-docs {
    margin-top: 10px;
  }
}

.empty-card {
  text-align: center;
  line-height: 300px;
}

.ant-form-item {
  margin-bottom: 12px;
}

.full-width {
  width: 100%;
}
.fake-label {
  color: rgba(0, 0, 0, 0.85);
  float: right;
  line-height: 28px;
}
.parameter-item {
  margin-top: 10px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}